# App settings
PORT=3000
DOMAIN=localhost
UI_URL=http://localhost:8080

# Database settings
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=ultron

# MongoDB settings (for ranges data)
MONGODB_URI=mongodb://mongodb:27017/texas

# Secrets
JWT_SECRET=jwt_secret
JWT_EXPIRATION_TIME=3600
JWT_REFRESH_SECRET=jwt_refresh_secret
JWT_REFRESH_EXPIRATION_TIME=18000

# Email confirmation
JWT_EMAIL_SECRET=jwt_email_secret
JWT_EMAIL_EXPIRATION_TIME=1800
EMAIL_FROM=noreply@allinrange.com

# AWS
AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=access_key_id
AWS_SECRET_ACCESS_KEY=secret_access_key
AWS_PUBLIC_BUCKET_NAME=bucket_name

# Environment
NODE_ENV=development
